@charset "utf-8";
/* CSS Document */




.child{
  table-layout: fixed;
  width: 100%;
  
}
.child td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.row-name {
  width: 20%;
}
.row-gender {
  width: 20%;
}
.row-age {
  width: 20%;
}

.row-school {
  width: 20%;
}
.row-class {
  width: 20%;
}


.fixed {
  table-layout: fixed;
  width: 100%;
  
  
}
.fixed td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Column widths are based on these cells */
.row-degree {
  width: 12%;
}
.row-year {
  width: 12%;
}
.row-regular {
  width: 18%;
}
.row-location {
  width: 17%;
}
.row-subject {
  width: 13%;
}
.row-aggregrate {
  width: 14%;
}
.row-specialisation {
  width: 14%;
}

.professional{
  table-layout: fixed;
  width: 100%;
  
}
.professional td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row-nature{
  width: 33%;
}

.row-agency {
  width: 34%;
}
.row-duration {
  width: 33%;
}

.prfsnl{
  table-layout: fixed;
  width: 100%;
  
}
.prfsnl td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.row-org {
  width: 14%;
}
.row-locatn {
  width: 12%;
}
.row-joined {
  width: 10%;
}
.row-left {
  width: 10%;
}
.row-rspnse {
  width: 14%;
}
.row-dsgntn {
  width: 13%;
}
.row-joining {
  width: 13%;
}
.row-leave {
  width: 13%;
}
.input{width:100%;}



