@charset "utf-8";
/* CSS Document */

.header{padding:20px 0 15px 50px !important; }
.nav{ padding:1px 0 1px 0px !important; position:absolute; height:94px;  }
<!--.banner{padding:0px !important;}-->
.login{padding:23px 0px 0 0 !important;}
.content{padding-bottom:20px; text-align:justify;  font-family: Arial, Verdana; min-height:350px;}
.left_content{border-bottom:1px solid #fff; padding-bottom:15px; margin-left:50px; line-height:15px; font-size:12px;}
.left_content a{color:#48887B; text-decoration:none;}
.right_content{padding:30px 0 0 45px !important;}
.footer{background:#e7e4e2; padding:10px 40px 10px 40px !important; font-size:11px; }
.footer_right{text-align:right;}
.name, .email, .institute, .year{background:#bbbdbf; height:40px; border:none; width:18%; float:left; padding:0 5px 0 5px; margin:10px 6px 0 0; font-size:12px;}
.boxing{height:auto; background:#eae8e6; padding:0px 0 40px 140px !important; border-bottom:1px solid #fff; }
.submit{background:#0063b1; outline:none; border:0px; height:40px; padding:0 15px 0 15px; margin-top:10px; color:#fff;}
ul.icon_link{width:auto; height:auto; float:left; margin:0 0 10px 0; padding:0px;}
ul.icon_link li{list-style:none;}
ul.icon_link li a.contact{list-style:none; height:40px; width:153px; background:url(images/contactn1.png) no-repeat; padding:0px; margin:0 0 3px 0; display:block;}
ul.icon_link li a.contact:hover{list-style:none; height:40px; width:153px; background:url(images/contactactive.png) no-repeat; padding:0px; margin:0 0 3px 0; display:block;}
ul.icon_link li a.brochure{list-style:none; height:40px; width:153px; background:url(images/download_brochuren1.png) no-repeat; padding:0px; margin:0 0 3px 0; display:block;}
ul.icon_link li a.brochure:hover{list-style:none; height:40px; width:153px; background:url(images/brochureactive.png) no-repeat; padding:0px; margin:0 0 3px 0; display:block;}
ul.icon_link li a.apply{list-style:none; height:40px; width:153px; background:url(images/apply_onlinen1.png) no-repeat; padding:0px; margin:0 0 3px 0; display:block;}
ul.icon_link li a.apply:hover{list-style:none; height:40px; width:153px; background:url(images/applyactive.png) no-repeat; padding:0px; margin:0 0 3px 0; display:block;}
a.know_more{color:#016ab3; text-decoration:none;}
a.know_more:hover{color:#144728; text-decoration:none;}
.left_menu{padding:20px 0 0 0 !important}
ul.menu{margin:0px; padding:0px;}
ul.menu li{list-style:none; font-size:11px; text-align:right;}
ul.menu li:last-child{list-style:none; font-size:11px; text-align:right;}
ul.menu li a{display:block; float:left;  line-height:25px; height:auto; width:160px; text-decoration:none; color:#000; padding-right:10px; }
ul.menu li a.active{ background:#a6a9ab; color:#fff; text-decoration:none; padding-right:10px; }
ul.menu li a:hover{background:#a6a9ab; color:#fff; text-decoration:none; padding-right:10px; }

ul.menu_overview{margin:10px 0 0 0; padding:0px;}
ul.menu_overview li{list-style:none; font-size:11px; text-align:right;}
ul.menu_overview li:last-child{list-style:none; font-size:11px; text-align:right;}
ul.menu_overview li a{display:block; float:left;  line-height:25px; height:auto; width:160px; text-decoration:none; color:#000; padding-right:10px; }
ul.menu_overview li a.active{ background:#a6a9ab; color:#fff; text-decoration:none; padding-right:10px; }
ul.menu_overview li a:hover{background:#a6a9ab; color:#fff; text-decoration:none; padding-right:10px; }

ul.list{margin:0px; padding:0px;}
ul.list li{list-style:none; background:url(images/bullet.jpg) no-repeat left; padding-left:30px; line-height:25px;}
.director_message{padding:0px 0px 0 0 !important; margin-top:20px; line-height:20px;}
.thumb{background:#a6a9ab;  margin-left:10px !important; padding-top:5px !important; padding-bottom:5px !important;}
.thumb_last{background:#a6a9ab;  margin-left:10px !important; padding-top:5px !important; padding-bottom:15px !important;}
.bottom_thumb{padding:0 5px 0 5px !important;}
.team{padding:0 10px 0 10px !important; font-size:10px; line-height:15px; text-align:justify; margin-top:10px;}
ul.list2{margin:0px; padding:0px;}
ul.list2 li{list-style:none; background:url(images/bullet2.jpg) no-repeat left; padding-left:20px; line-height:23px;}
.right_part{margin-top:25px;}
.pic{padding:0 0 0 15px !important;}
#name, #cname, #city, #address, #email, #phone, #address, #city{width:100%; margin-bottom:10px; margin-top:3px; background:#e5e6e7; border:0; height:25px;}
#message{width:100%; margin-bottom:10px; margin-top:3px; background:#e5e6e7; border:0; height:80px;}

#table1 td { text-align:left; padding-left:40px; }
#table2 td { text-align:left; padding-left:40px; }
#table3 td { text-align:left; padding-left:40px; }
#help { width:1000px; height:auto; margin:auto; }
#help .help_left { text-align:right; width:490px; float:left; height:auto; margin-right:20px;}
#help .help_right { text-align: left; width:490px; float:left; height:auto; }

ul.core_value{width:auto;}
ul.core_value li{padding-bottom:5px;}


.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}

.image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.ac-container{
	width: 530px;
	margin: 10px auto 30px auto;
	text-align: left;
}
.ac-container label{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	padding: 0px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 30px;
	font-size: 15px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover{
	background: #fff;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #c6e1ec;
	color: #3d7489;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	background-image: url(../images/arrow_up.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
	height: auto;
	padding:15px;
	font-family:arial;
	font-size:12px;
	text-align:justify;
	line-height:20px;
}
.ac-container input:checked ~ article.ac-medium{
		height: auto;
	padding:15px;
	font-family:arial;
	font-size:12px;
	text-align:justify;
	line-height:20px;
}
.ac-container input:checked ~ article.ac-large{
	height: 230px;
}

.philosophy{margin-top:-30px; position:absolute;}
#box{height:550px; position:absolute; top:397px; left:195px;  overflow:hidden;}