@charset "utf-8";
/* CSS Document */
body{margin:0px;}
@font-face {
	font-family: 'PalatinoLinotype';
	src: url('PalatinoLinotype-Roman.eot?') format('eot'), 
	     url('PalatinoLinotype-Roman.woff') format('woff'), 
	     url('PalatinoLinotype-Roman.ttf')  format('truetype'),
	     url('PalatinoLinotype-Roman.svg#PalatinoLinotype-Roman') format('svg');
}
.top_bar{position:relative; height:35px; width:1000px; margin:auto;}
.logo{width:auto; position:absolute; z-index:100;   }
.nav{padding:5px 0 0 0; width:auto; }
.login{float:right; width:auto; margin-top:9px;}
#banner_wrapper{width:100%; height:auto; float:left; background:url(images/banner_bg.jpg) repeat-x;}
#banner{width:1215px; height:480px; margin:auto; overflow:hidden; }
#title{width:100%; height:auto; float:left; text-align:center;padding-top:25px;}
#content_wrapper{width:100%; height:auto; float:left;}
#wrapper{width:746px; height:auto; margin:auto;padding-top:20px; font-family:'PalatinoLinotype';}
#wrapper_contact{width:650px; height:auto; margin:15px auto 0 auto; padding-top:150px;}
.section1{width:350px;height:auto;float:left; font-family:arial; font-size:12px; color:#373435;}
.section2{width:auto;height:auto;float:left; font-family:"Roboto", arial, helvetica, sans-serif; font-size:12px; line-height:18px; color:#373435;}
.add1{width:auto;height:auto; }
.add2{width:650px;height:150px; border-bottom:1px solid #015583; font-family:arial;font-size:14px; margin-top:20px;}
.add3{width:650px;height:150px;  font-family:arial;font-size:14px; margin-top:20px;}
.welcometext{margin-top:20px; font-size:12px; text-align:justify; color:#606062; }

footer{width:100%; height:auto; float:left; display:block;}
#footer_attraction{width:1215px; height:40px; background:#e5e6e7; margin:20px auto 0 auto; line-height:40px; font-family:'PalatinoLinotype';}
#footer_link{border:1px solid #e5e6e7; margin:10px auto 0 auto; height:30px; width:1215px; }
.left_footerlink{width:auto; padding:3px 0 0 25px; float:left;}
.right_footerlink{width:auto; padding:0px 0 0 120px; float:left; font-size:11px; line-height:30px;}
.right_footerlink a{color: #606062; font-family:arial; text-decoration:none;}
.right_footerlink a:hover{text-decoration:none;}

#footer_logo{ margin:10px auto 0 auto; height:auto; width:1215px; padding:10px 0 10px 0; text-align:center; background:url(images/footer_bg.jpg) repeat-x; }
#box_category{width:100%; height:auto; margin:40px 0 0 0; float:left; text-align:center;}

#name, #address, #email, #phone {
width: 240px;
border: 1px solid #373435;
margin-bottom: 16px;
}