@charset "utf-8";
/* CSS Document */
body{background:url(images/bg_body.jpg) no-repeat center;}
.header{background:#e1dddb; padding:20px 0 15px 50px !important; }
.nav{background:#e1dddb; padding:1px 0 1px 0px !important;  }
.banner{background:#e1dddb; padding:1px 0 1px 0px !important;  }
.login{padding:23px 0px 0 0 !important;}
.content{background:#e7e4e2; padding-bottom:20px; text-align:justify; background:url(images/content_bg.png) repeat; font-family: Arial, Verdana;}
.left_content{border-bottom:1px solid #fff; padding-bottom:15px; margin-left:50px; line-height:15px; font-size:12px;}
.left_content a{color:#48887B; text-decoration:none;}
.right_content{padding:30px 0 0 45px !important;}
.footer{background:#e7e4e2; padding:10px 40px 10px 40px !important; font-size:11px; }
.footer_right{text-align:right;}
.name, .email, .institute, .year{background:#bbbdbf; height:40px; border:none; width:18%; float:left; padding:0 5px 0 5px; margin:10px 6px 0 0; font-size:12px;}
.boxing{height:auto; background:#eae8e6; padding:0px 0 40px 140px !important; border-bottom:1px solid #fff; }
.submit{background:#0063b1; outline:none; border:0px; height:40px; padding:0 15px 0 15px; margin-top:10px; color:#fff;}
ul.icon_link{width:auto; height:auto; float:left; margin:0 0 10px 0; padding:0px;}
ul.icon_link li{list-style:none;}
ul.icon_link li a.contact{list-style:none; height:40px; width:153px; background:url(images/contactn1.png) no-repeat; padding:0px; margin:0 0 3px 0; display:block;}
ul.icon_link li a.contact:hover{list-style:none; height:40px; width:153px; background:url(images/contactactive.png) no-repeat; padding:0px; margin:0 0 3px 0; display:block;}
ul.icon_link li a.brochure{list-style:none; height:40px; width:153px; background:url(images/download_brochuren1.png) no-repeat; padding:0px; margin:0 0 3px 0; display:block;}
ul.icon_link li a.brochure:hover{list-style:none; height:40px; width:153px; background:url(images/brochureactive.png) no-repeat; padding:0px; margin:0 0 3px 0; display:block;}
ul.icon_link li a.apply{list-style:none; height:40px; width:153px; background:url(images/apply_onlinen1.png) no-repeat; padding:0px; margin:0 0 3px 0; display:block;}
ul.icon_link li a.apply:hover{list-style:none; height:40px; width:153px; background:url(images/applyactive.png) no-repeat; padding:0px; margin:0 0 3px 0; display:block;}
a.know_more{color:#016ab3; text-decoration:none;}
a.know_more:hover{color:#144728; text-decoration:none;}
.left_menu{padding:20px 0 0 0 !important}
ul.menu{margin:0px; padding:0px;}
ul.menu li{list-style:none; font-size:11px; text-align:right;}
ul.menu li:last-child{list-style:none; font-size:11px; text-align:right;}
ul.menu li a{display:block; float:left;  line-height:25px; height:auto; width:160px; text-decoration:none; color:#000; padding-right:10px; }
ul.menu li a.active{ background:#a6a9ab; color:#fff; text-decoration:none; padding-right:10px; }
ul.menu li a:hover{background:#a6a9ab; color:#fff; text-decoration:none; padding-right:10px; }
ul.list{margin:0px; padding:0px;}
ul.list li{list-style:none; background:url(images/bullet.jpg) no-repeat left; padding-left:30px; line-height:25px;}
.director_message{padding:0px 0px 0 0 !important; margin-top:20px; line-height:20px;}
.thumb{background:#a6a9ab;  margin-left:10px !important; padding-top:5px !important; padding-bottom:5px !important;}
.team{padding:0 10px 0 10px !important; font-size:10px; line-height:15px; text-align:justify;}
ul.list2{margin:0px; padding:0px;}
ul.list2 li{list-style:none; background:url(images/bullet2.jpg) no-repeat left; padding-left:20px; line-height:23px;}
.right_part{margin-top:35px;}
.pic{padding:0 0 0 15px !important;}
#name, #cname, #city, #address, #email, #phone, #address, #city{width:100%; margin-bottom:10px; margin-top:3px; background:#e5e6e7; border:0; height:25px;}
#message{width:100%; margin-bottom:10px; margin-top:3px; background:#e5e6e7; border:0; height:80px;}